@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;





.todo-content{
    @apply  flex justify-center items-center flex-col bg-[#ffffff00] backdrop-blur-3xl shadow-2xl rounded-xl overflow-hidden w-[100%] py-2 px-1 dark:shadow-shDark 
}


::-webkit-scrollbar {
    width: 0;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }